blockquote, .alert {
    @apply relative bg-primary my-8 p-6 rounded-lg overflow-hidden;

    &.info { @apply bg-info; }
    &.success { @apply bg-success; }
    &.danger { @apply bg-danger; }
    &.warning { @apply bg-warning; }

    p {
        @apply pl-8 mb-0 text-white !important;
    }

    .icon {
        @apply absolute w-16 h-16 opacity-25 font-bold;
        left: -10px;
        top: -10px;
        svg {
            fill: white;
            width: 60px;
            height: 60px;
        }
    }
}