#documentation {
    @apply bg-documentation-light dark:bg-documentation-dark relative pt-28 pb-28 pl-80 w-3/4;
    transition: padding-left 0.1s;

    &.expanded {
        @apply pl-20;
    }
 
    a {
        @apply text-primary underline;
    }

    h2:hover .heading-permalink,
    h3:hover .heading-permalink,
    h4:hover .heading-permalink,
    h5:hover .heading-permalink,
    h6:hover .heading-permalink,
    .heading-permalink:focus {
        opacity: 1;
    }

    .heading-permalink {
        @apply opacity-0 absolute pr-2;
        transform: translate(-100%);
        text-decoration: none;
    }

    h1:first-of-type {
        @apply font-bold text-3xl mb-4 text-slate-800 dark:text-slate-200;
    }

    h2 {
        @apply mt-10 mb-4 text-2xl text-slate-800 dark:text-slate-200;

        a, a:hover {
            @apply text-gray-700 no-underline;
        }
    }

    h3 {
        @apply mt-6 mb-4 text-xl text-slate-800 dark:text-slate-200;
    }

    p {
        @apply font-thin leading-loose text-slate-600 dark:text-slate-400 mb-4;
    }

    hr {
        @apply border-t border-dashed border-slate-300 my-4;
    }

    img {
        max-width: 100%;
    }

    pre{
        @apply font-thin;
    }

    :not(pre) > code {
        @apply bg-gray-200 px-2 rounded text-primary leading-normal;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        line-height: 1.6;
    }

    ul > li , ol > li {
        @apply py-2 text-slate-600 dark:text-slate-400;
    }

    input[type="checkbox"] {
        transform: scale(1.3);
        @apply mr-2;
    }
}

@media (max-width: 780px) {
    #documentation {
        padding: 0 1em !important;
        @apply w-full;
    }
}